body {
    font-family: 'Slabo 27px', serif;
    font-size: 15px;
    font-weight: bold;
}

#content,
#placeholder {
    width: 1000px;
    margin: 0 auto;
}

#placeholder {
    text-align: center;
}

#description p {
    font-weight: normal;
}

footer {
    font-size: 0.8em;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #888;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

h2 {
    margin-bottom: 0;
}


/*title and slider*/

.sliders,
.legends,
.header {
    display: inline-block;
}

#slider {
    vertical-align: middle;
}

#slider_text {
    width: 150px;
}

.cell text {
    font-size: 0.7em;
    text-anchor: middle;
    font-weight: normal;
}

.tick text {
    fill: #000;
}


/*books*/

text {
    font-weight: normal;
}

.books {
    stroke-width: 0.8px;
}

.books:hover {
    stroke: #000 !important;
    stroke-width: 2px !important;
    cursor: pointer;
}


/*tooltipe*/

#tooltip {
    position: absolute;
    width: 330px;
    padding: 10px;
    font-size: 1em;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: nont;
    background: rgba(250, 250, 250, 0.85);
}

#tooltip_top {
    width: 330px;
    height: 200px;
}

#tooltip_top_left {
    width: 160px;
    float: left;
}

#tooltip_top_right {
    width: 140px;
    float: right;
    text-align: center;
}

#tooltip_top_right img {
    width: 100%;
    height: 200px;
}

#book_name {
    font-size: 1.2em;
}

#book_text span {
    font-weight: normal;
}